In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [36]:
df = pd.read_csv("../data/SourceInfo.csv")

In [37]:
df.head()

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy
0,DDNews,1,2003,1,1,High,1,0
1,Deccan Chronicle,1,1938,1,1,Low,0,0
2,FirstPost,1,2017,1,1,Low,0,0
3,Hindustan Times,1,1924,1,1,High,1,1
4,Independent,1,1986,1,1,Medium,1,0

In [38]:
df["SourceScore"]=""

d ={"High":3,"Low":1,"Medium":2}

df['Year'] = df['Year'].fillna(2020)

In [39]:
for i in df.index:
    df["SourceScore"][i]=0.2*df['Wikipedia'][i]+0.01*(2020-df['Year'][i])+0.1*df['Twitter'][i]+0.05*df['Verified'][i]+0.37*d[df['Popularity'][i]]+0.2*df['History'][i]+0.07*df['Controversy'][i]

C:\Users\vogir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
scores=np.reshape(np.asarray(df['SourceScore']),(-1,1))
scaler = MinMaxScaler()
scaler.fit(scores)
scores=scaler.transform(scores)
print(scores)

df['SourceScore']=scores

[[0.42281879]
 [0.32550336]
 [0.06040268]
 [0.7114094 ]
 [0.3557047 ]
 [0.42281879]
 [0.53691275]
 [0.        ]
 [0.15100671]
 [0.37248322]
 [0.01006711]
 [0.43959732]
 [0.26174497]
 [0.34563758]
 [0.20134228]
 [0.08053691]
 [0.40268456]
 [0.95637584]
 [0.13758389]
 [0.16107383]
 [0.74161074]
 [0.25167785]
 [0.13422819]
 [0.60402685]
 [0.36912752]
 [0.44966443]
 [0.15771812]
 [0.36912752]
 [1.        ]
 [0.39261745]]

In [41]:
df

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy,SourceScore
0,DDNews,1,2003,1,1,High,1,0,0.422819
1,Deccan Chronicle,1,1938,1,1,Low,0,0,0.325503
2,FirstPost,1,2017,1,1,Low,0,0,0.060403
3,Hindustan Times,1,1924,1,1,High,1,1,0.711409
4,Independent,1,1986,1,1,Medium,1,0,0.355705
5,India Today,1,2003,1,1,High,1,0,0.422819
6,Indian Express,1,1932,1,1,Medium,1,0,0.536913
7,Janta Ka Reporter,0,2015,1,1,Low,0,0,0.000000
8,National Herald,1,2017,1,1,Low,1,1,0.151007
9,NDTV,1,1988,1,1,Medium,1,1,0.372483
10,News Laundry,0,2012,1,1,Low,0,0,0.010067
11,News18,1,2005,1,1,High,1,1,0.439597
12,OpIndia,1,2014,1,1,Medium,1,0,0.261745
13,Organizer,1,1947,1,0,Low,1,0,0.345638
14,Outlook,1,1995,1,1,Low,1,0,0.201342
15,Rajya Sabha TV,1,2011,1,1,Low,0,0,0.080537
16,Republic TV,1,2016,1,1,High,1,1,0.402685
17,Reuters,1,1851,1,1,High,1,1,0.956376
18,Scroll,1,2014,1,1,Low,1,0,0.137584
19,Swarajya,1,2014,1,1,Low,1,1,0.161074
20,The Hindu,1,1878,1,1,Medium,1,1,0.741611
21,The Print,1,2017,1,1,Medium,1,0,0.251678
22,The Quint,1,2015,1,1,Low,1,0,0.134228
23,The Statesman,1,1875,1,1,Low,1,0,0.604027
24,The Telegraph,1,1982,1,1,Medium,1,0,0.369128
25,The Tribune,0,1881,1,1,Low,0,0,0.449664
26,The Wire,1,2015,1,1,Low,1,1,0.157718
27,Times Now,1,2006,1,1,High,0,1,0.369128
28,The Times of India,1,1838,1,1,High,1,1,1.000000
29,Zee News,1,1999,1,1,High,0,1,0.392617

In [42]:
df.to_csv("../data/SourceInfo.csv",index=None)