In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("../data/SourceInfo.csv")

In [3]:
df.head()

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy
0,DDNews,1,2003,1,1,High,1,0
1,Deccan Chronicle,1,1938,1,1,Low,0,0
2,DNA,0,2008,1,1,Low,0,0
3,FirstPost,1,2017,1,1,Low,0,0
4,Hindustan Times,1,1924,1,1,High,1,1

In [4]:
df["SourceScore"]=""

d ={"High":3,"Low":1,"Medium":2}

In [5]:
for i in df.index:
    df["SourceScore"][i]=0.2*df['Wikipedia'][i]+0.01*(2020-df['Year'][i])+0.1*df['Twitter'][i]+0.05*df['Verified'][i]+0.37*d[df['Popularity'][i]]+0.2*df['History'][i]+0.07*df['Controversy'][i]

C:\Users\vogir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
df.sort_values(by="SourceScore")

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy,SourceScore
8,Janta Ka Reporter,0,2015,1,1,Low,0,0,0.57
11,News Laundry,0,2012,1,1,Low,0,0,0.6
2,DNA,0,2008,1,1,Low,0,0,0.64
3,FirstPost,1,2017,1,1,Low,0,0,0.75
16,Rajya Sabha TV,1,2011,1,1,Low,0,0,0.81
23,The Quint,1,2015,1,1,Low,1,0,0.97
19,Scroll,1,2014,1,1,Low,1,0,0.98
9,National Herald,1,2017,1,1,Low,1,1,1.02
26,The Wire,1,2015,1,1,Low,1,1,1.04
20,Swarajya,1,2014,1,1,Low,1,1,1.05
15,Outlook,1,1995,1,1,Low,1,0,1.17
22,The Print,1,2017,1,1,Medium,1,0,1.32
13,OpIndia,1,2014,1,1,Medium,1,0,1.35
1,Deccan Chronicle,1,1938,1,1,Low,0,0,1.54
14,Organizer,1,1947,1,0,Low,1,0,1.6
5,Independent,1,1986,1,1,Medium,1,0,1.63
27,Times Now,1,2006,1,1,High,0,1,1.67
25,The Telegraph,1,1982,1,1,Medium,1,0,1.67
10,NDTV,1,1988,1,1,Medium,1,1,1.68
29,Zee News,1,1999,1,1,High,0,1,1.74
17,Republic TV,1,2016,1,1,High,1,1,1.77
6,India Today,1,2003,1,1,High,1,0,1.83
0,DDNews,1,2003,1,1,High,1,0,1.83
12,News18,1,2005,1,1,High,1,1,1.88
7,Indian Express,1,1932,1,1,Medium,1,0,2.17
24,The Statesman,1,1875,1,1,Low,1,0,2.37
4,Hindustan Times,1,1924,1,1,High,1,1,2.69
21,The Hindu,1,1878,1,1,Medium,1,1,2.78
18,Reuters,1,1851,1,1,High,1,1,3.42
28,The Times of India,1,1838,1,1,High,1,1,3.55

In [7]:
a=max(df['SourceScore'])
for i in range(len(df)):
    print(a)
    b=df['SourceScore'][i]/a
    df['SourceScore'][i]=b

3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55
3.55

C:\Users\vogir\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
df.sort_values(by="SourceScore")

,Source,Wikipedia,Year,Twitter,Verified,Popularity,History,Controversy,SourceScore
8,Janta Ka Reporter,0,2015,1,1,Low,0,0,0.160563
11,News Laundry,0,2012,1,1,Low,0,0,0.169014
2,DNA,0,2008,1,1,Low,0,0,0.180282
3,FirstPost,1,2017,1,1,Low,0,0,0.211268
16,Rajya Sabha TV,1,2011,1,1,Low,0,0,0.228169
23,The Quint,1,2015,1,1,Low,1,0,0.273239
19,Scroll,1,2014,1,1,Low,1,0,0.276056
9,National Herald,1,2017,1,1,Low,1,1,0.287324
26,The Wire,1,2015,1,1,Low,1,1,0.292958
20,Swarajya,1,2014,1,1,Low,1,1,0.295775
15,Outlook,1,1995,1,1,Low,1,0,0.329577
22,The Print,1,2017,1,1,Medium,1,0,0.371831
13,OpIndia,1,2014,1,1,Medium,1,0,0.380282
1,Deccan Chronicle,1,1938,1,1,Low,0,0,0.433803
14,Organizer,1,1947,1,0,Low,1,0,0.450704
5,Independent,1,1986,1,1,Medium,1,0,0.459155
27,Times Now,1,2006,1,1,High,0,1,0.470423
25,The Telegraph,1,1982,1,1,Medium,1,0,0.470423
10,NDTV,1,1988,1,1,Medium,1,1,0.473239
29,Zee News,1,1999,1,1,High,0,1,0.490141
17,Republic TV,1,2016,1,1,High,1,1,0.498592
6,India Today,1,2003,1,1,High,1,0,0.515493
0,DDNews,1,2003,1,1,High,1,0,0.515493
12,News18,1,2005,1,1,High,1,1,0.529577
7,Indian Express,1,1932,1,1,Medium,1,0,0.611268
24,The Statesman,1,1875,1,1,Low,1,0,0.667606
4,Hindustan Times,1,1924,1,1,High,1,1,0.757746
21,The Hindu,1,1878,1,1,Medium,1,1,0.783099
18,Reuters,1,1851,1,1,High,1,1,0.96338
28,The Times of India,1,1838,1,1,High,1,1,1

In [9]:
df.to_csv("../data/SourceInfo.csv",index=None)